.hidden-message {
    display: none;
}
body {
    font-family: "Montserrat", sans-serif;
    background-color: whitesmoke;
    padding: 2%;
}
.footer {
    text-align: center;
    font-family: "Qwitcher Grypen", cursive;
    font-size: 26px;
    background: url(./gecko.webp), repeat-x;
    background-size: contain;
}
.footer span {
    background-color: whitesmoke;
}
.footer a {
    color: brown;
}
.section-title,
.episode-title {
    font-family: "Roboto", sans-serif;
    margin: 20px 0 10px 0;
    cursor: grab;
}
.main-title {
    text-align: center;
}
.about-me p::first-letter {
    font-size: 30px;
}
.episode-description::first-line {
    font-size: 20px;
    color: rgb(12, 28, 60);
}
.list-item:nth-child(4) {
    color: red;
}
.list-item:nth-child(2) * li {
    color: green;
}
form {
    width: 1000px;
}
textarea {
    width: 40%;
    border-radius: 8px;
    padding: 10px;
    outline: none;
}
input {
    border-radius: 8px;
    outline: none;
    border: 1px solid gray;
    padding-left: 15px;
    color: rgb(21, 21, 21);
    font-family: "Montserrat", sans-serif;
    margin: 25px;
    width: 25%;
    height: 25px;
}
button {
    width: 150px;
    height: 50px;
    margin: 1% 47%;
    border-radius: 8px;
}
button:hover {
    color: blueviolet;
    background-color: blanchedalmond;
    box-shadow: 5px 10px #888888;
    transform: rotate(180deg);
    transition: 1.5s;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: purple;
    text-decoration: underline;
}
a:visited {
    color: gray;
}
.sticky {
    width: 100%;
    border-bottom: 1px solid #bfbfbf;
    box-shadow: 10px gray;
    background-color: whitesmoke;
    box-shadow: 2px 10px 5px #aaaaaa;
    position: fixed;
    top: 0;
    padding-top: 2%;
}
